body {
  background-color: #696969;
}

button {
  background-image: url(pic/button.png);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-size: cover;
  background-color: transparent;
  border: 0;
  height: 50px;
  width: 50px;
}

div {
  text-align: center;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

.bigPic {
  height: 35vw;
  width: 35vw;
}

.left {
  transform: rotate(180deg);
}


.thumbnails img:hover, .thumbnails img.selected {
  opacity: 1;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.thumbnails img {
  border-radius: 50px;
  filter: blur(2px);
  height: 80px;
  opacity: 0.5;
  padding: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
}


.bigPic:hover {

  -webkit-transition: all 1000s linear;
  transition: all 1000s linear;

  -webkit-transform: rotateX(43200deg) rotateY(14400deg)
  transform: rotateX(43200deg) rotateY(14400deg);

  -webkit-animation: rotator 25s linear infinite;
  animation: rotator 25s linear infinite;
}

@-webkit-keyframes rotator {
  0%   { -webkit-transform: rotateX(0deg)    rotateY(0deg);    }
  100% { -webkit-transform: rotateX(1080deg) rotateY(360deg);  }
}

@keyframes rotator {
  0%   { transform: rotateX(0deg)    rotateY(0deg);    }
  100% { transform: rotateX(1080deg) rotateY(360deg);  }
}
