html{
  min-height: 100%;
}
body {
  background-image: linear-gradient(to bottom, #ffffff 0 , #f6f6f6 200px);
  display: flex;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  border-bottom: 1px solid #aaa;
  font-family: serif;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 28.8px;
}

a {
  color: rgb(0, 0, 238);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="search"] {
   -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-slidebar {
  flex: 0 0 auto;
  order: 0;
  width: 176px;

}

.main-header {
  height: 80px;
  font-size: 12px;
  position: relative;
}

.main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-header li {
  list-style: none;
}

.main-content {
  background-color: #ffffff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 16px;

}

.biography {
  background: #f9f9f9;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0px 12px 12px;
  padding: 25px;
  width: 270px;
}

.main-footer {
  background-color: #f6f6f6;
  height: 150px;
}

.logo{
  background-image: url(../img/wiki.png);
  color: rgba(0, 0, 0, 0);
  display: block;
  height: 150px;
  margin: 6px auto 0;
  width: 135px;
}

.main-sidebar {
   flex: 0 0 auto;
   order: 0;
   width: 176px;
}

.main-header nav, .search {
    position: absolute;
}
.user-menu {
  right: 5px;
  top: 5px;
}

.user-menu span,
.user-menu a {
  display: block;
  padding: 5px;
}

.user-menu a {
  color: rgb(0, 0, 238);
  text-decoration: none;
}

.user-menu a:hover {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.talk-menu {
  bottom: 0;
  left: 0;
}

.tab ul {
  background: linear-gradient(to bottom, transparent 0%, #a7d7f9 100%);
  padding-left: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  bottom:-1px;
  display: block;
  margin-right: 1px;
  padding: 15px 5px 5px;
  position: relative;
}

.tab .active-tab a {
  background: white;
  border-bottom: 1px solid #fff;
}
/*some sample for me:
.tab li:nth-child(odd) a {
  background-color: orange;
}

.tab li:nth-child(even) a {
  background-color: pink;
}*/

.search {
  bottom: 5px;
  right: 10px;
}

.search input {
  background: linear-gradient(to bottom, #f6f6f6 0, #fff 50%);
  border: 1px solid #ccc;
  font: 13px arial, sans-serif;
  height: 25px;
  padding: 1px;
  width: 285px;
}

.search input::-webkit-search-cancel-button {
   -webkit-appearance: none;
}


.search input[type=search]:focus {
  outline: 0;
}

.search input[type=search]:focus {
  padding-right: 20px;
}
.search input[type=submit] {
  background: url("../img/search-ltr.png") no-repeat right center;
  border: none;
  bottom: 1px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  width: 15px;
}

.search input[type=submit]:focus {
  outline: 0;
}

.edit-menu {
  bottom: 0;
  right: 300px;
}
